
config autorepeater 'global'
	option mwifi_enabled '1'
	list interface 'wan'
	list root_url 'http://[ROUTERIP]:1900/igd.xml'
	list root_url 'http://[ROUTERIP]:1900/rootDesc.xml'
	list root_url 'http://[ROUTERIP]:9000/rootDesc.xml'
	list root_url 'http://[ROUTERIP]:2058/rootDesc.xml'
	list root_url 'http://[ROUTERIP]:5000/rootDesc.xml'
	list root_url 'http://[ROUTERIP]:5555/rootDesc.xml'
	list root_url 'http://[ROUTERIP]:8200/rootDesc.xml'
	list root_url 'http://[ROUTERIP]:12470/rootDesc.xml'
	option date_format '%m/%d %R'
